/* Add a black background color to the top navigation */
.topnav {
  font-family:'Jost', sans-serif;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #F78832;
  color: white;
}

#Contact li:hover{
  background-color: white
}

body {
  background-color: #FFDFC6;
}
header {
  background-color: #F78832;
  padding: 1% 2%;
  color: white
}
nav, header, main, footer {
   font-family: 'Jost', sans-serif;
}
main, nav, nav li {
  text-align: center;
}
footer {
  background-color:#333;
  color: white;
  padding: 1% 2%;
  font-size: 10pt;
}

image {
  padding-left: 1rem;
}

p {
  padding: 1rem;
}
/*Grid layout for contact*/
.grid-index {
  display: grid;
  grid-template: "aboutme Contact";
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}

.aboutme {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Query for Tablet Viewpoint */
@media only screen and (min-width: 600px) {
  .aboutme {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.grid-container {
  display: grid;
  grid-template: "my-image my-image";
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}

.my-image {
  padding: 0.5rem;
  grid-area: "my-image";
}

.image-grid {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

/* Media Query for Desktop Viewpoint */
@media only screen and (min-width: 733px) {
  .image-grid {
    display: flex;
    max-width: 800px;
    margin: 0 auto;

    flex-direction: row;
    flex-wrap: nowrap;
  }
}


#ContactParent {

}

#Contact {
  background-color: #F78832;
  color: white;
  padding: 3% 3%;
  text-align: left;
  display: block;
  float: Right;
}
